.header-container {
    background-color: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    max-height: fit-content;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(17, 17, 17);
}

.separation-line {
    margin-bottom: 15px;
    background-color: rgb(167, 166, 166, 0.2);
    height: 0.05rem;
    width: 97%;
}

.track-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.track-number {
    color: rgb(167, 166, 166);
    padding-right: 20px;
    padding-left: 20px;
}

.track-album-cover {
    color: rgb(167, 166, 166);
    padding-right: 15px;
}

.cover-img {
    border-radius: 5px;
    width: 4vw;
    height: 4vw;
}

.track-title {
    color: rgb(167, 166, 166);
}

.track-duration {
    color: rgb(167, 166, 166);
    padding-right: 50px;
}