<div class="header-container">
    <div class="track-container">
      <div class="track-number">
        <h5 class="card-text">#</h5>
      </div>
      <div class="track-album-cover">
        <div style="width: 4vw;"></div>
      </div>
      <div class="track-title">
        <h5 class="card-title">Title</h5>
      </div>
    </div>
    <div class="duration-container">
      <div class="track-duration">
        <p class="card-text">Duration</p>
      </div>
    </div>
  </div>
    
  <div class="separation-line"></div>