.library-list {
    padding: 10px;
    background-color: rgb(17, 17, 17);
    color: rgb(160, 159, 159);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cover-img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.music-container {
    border-radius: 5px;
    padding: 10px;
}