<div class="library-list">
    <div class="music-container hoverable-background" *ngFor="let _ of [].constructor(20) index as i">
        <div class="track-container">
          <div class="track-album-cover">
            <img src="/assets/images/fearofthedark.jpg" class="cover-img">
          </div>
          <div class="track-title">
            <div class="card-body">
              <h5 class="card-title">title</h5>
              <p class="card-text">artist</p>
            </div>
          </div>
        </div>
      </div>
</div>
