.home-menu {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(17, 17, 17);
    color: rgb(160, 159, 159);
}

.bi-house-door {
    margin-bottom: 10px;
}

.start-container, .search-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-container {
    margin-top: 10px;
}

/* .hoverable:hover {
    color: white;
} */