<!DOCTYPE html>
<html lang="en">
  <head>
    <title>page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="user-menu-section">
      <app-user-section> </app-user-section>
      <app-library> </app-library>
      <app-library-list> </app-library-list>
    </div>

    <div class="playlist-section">
      <app-playlist-header> </app-playlist-header>

      <app-header-playlist-division> </app-header-playlist-division>

      <app-playlist> </app-playlist>
    </div>

    <div class="friends-section">
      <app-friends-list> </app-friends-list>
    </div>

  </body>
</html>
