body {
    padding: 5px;
    background-color: black;
    display: flex;
    gap: 5px;
}

.user-menu-section {
    width: 20%;
}

.playlist-section {
    width: 60%;
}

.friends-section {
    width: 20%;
    text-align: start;
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
}