<div
  class="music-container hoverable-background"
  *ngFor="let music of musicList; index as i"
>
  <div class="track-container">
    <div class="track-number">
      <h5 class="card-text">{{ i + 1 }}</h5>
    </div>
    <div class="track-album-cover">
      <img src="/assets/images/fearofthedark.jpg" class="cover-img" />
    </div>
    <div class="track-title">
      <div class="card-body">
        <h5 class="card-title">{{ music.title }}</h5>
        <p class="card-text">{{ music.artist }}</p>
      </div>
    </div>
  </div>
  <div class="duration-container">
    <div class="track-duration">
      <p class="card-text">{{ music.duration }}</p>
    </div>
  </div>
</div>
 