/* playlist title section */

/* top section */

.title-container {
    margin: 3px;
    background-color: rebeccapurple;
    border-radius: 5px;
} 

.top-section-container {
    display: flex;
    justify-content: space-between;
}

.bi {
    margin: 30px 20px 20px 0px;
}

.bi-arrow-left-circle {
    margin-left: 20px;
}

.bi-image {
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 10px 10px;
}

.bi:hover {
    fill: white;
}

.playlist-title h6,
.playlist-title h1,
.playlist-title h5 {
    padding: 0;
    color: white;
    margin: 0px;
    margin-right: 100px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playlist-title h5 {
    margin-bottom: 20px;
}

/* playlist title middle section */

.middle-section-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}

/* playlist section */

.header-container {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 10px;
    max-width: 960px;
    justify-content: space-between;
    border-radius: 5px;
    max-height: fit-content;
}

.music-container {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 10px;
    max-width: 960px;
    justify-content: space-between;
    border-radius: 5px;
    max-height: fit-content;
}

.track-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.track-number {
    color: rgb(167, 166, 166);
    padding-right: 20px;
    padding-left: 20px;
}

.track-album-cover {
    color: rgb(167, 166, 166);
    padding-right: 15px;
}

.cover-img {
    border-radius: 5px;
    width: 4vw;
    height: 4vw;
}

.track-title {
    color: rgb(167, 166, 166);
}

.track-duration {
    color: rgb(167, 166, 166);
    padding-right: 20px;
}

.music-container:hover {
    background-color: rgb(48, 47, 47);
    cursor: pointer;
}