.friends-list-header {
    border-radius: 10px 10px 0 0;
    padding: 20px;
    background-color: rgb(17, 17, 17);
    color: rgb(160, 159, 159);
    height: 100%;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.top-section h5 {
    color: white;
}

.bi-x-lg {
    margin-left: 10px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.friend-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 2px;
}

.portrait-img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

.playlist-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bi-disc {
    margin-bottom: 5px;
}

.text-container h6 {
    font-weight: 400;
    font-size: 15px;
    line-height: 10px;
}

.text-container .name {
    font-weight: bold;
}

.playlist-info h6 {
    font-size: 15px;
}

.last-played {
    margin-left: 30px;
}